/*-------------------------------------------------------*/
/*------------------------Pop ups------------------------*/
/*-------------------------------------------------------*/

.popup {
    position: fixed;
    top: 100px;
    max-width: 720px;
    width: 100%;
    border-radius: 20px;
    font-size: 2rem;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    background-color: var(--ctp-mocha-crust);
}

.popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.popup p {
    padding: 0;
    margin: 0;
}

.fade-out {
    animation-name: fade_out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*-------------------------------------------------------*/
/*-----------------------Mail Result---------------------*/
/*-------------------------------------------------------*/

#mail-error {
    background-color: var(--ctp-mocha-red);
    color: var(--ctp-mocha-crust);
}

#mail-success {
    background-color: var(--ctp-mocha-green);
    color: var(--ctp-mocha-crust);
}

/*-------------------------------------------------------*/
/*-----------------------Mail Result---------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*---------------------Language picker-------------------*/
/*-------------------------------------------------------*/

#language-picker img {
    width: 50px;
}

/*-------------------------------------------------------*/
/*---------------------Language picker-------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*-----------------------Key Frames----------------------*/
/*-------------------------------------------------------*/

@KeyFrames fade_out {
    0% { opacity: 0; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

/*-------------------------------------------------------*/
/*-----------------------Key Frames----------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*------------------------Pop ups------------------------*/
/*-------------------------------------------------------*/
