/*-------------------------------------------------------*/
/*-------------------------Fonts-------------------------*/
/*-------------------------------------------------------*/

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("/static/fonts/Dosis-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

/*-------------------------------------------------------*/
/*-------------------------Fonts-------------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*---------------------Color Palatte---------------------*/
/*-------------------------------------------------------*/

:root {
	--ctp-latte-rosewater: #dc8a78;
	--ctp-frappe-rosewater: #f2d5cf;
	--ctp-macchiato-rosewater: #f4dbd6;
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-latte-flamingo: #dd7878;
	--ctp-frappe-flamingo: #eebebe;
	--ctp-macchiato-flamingo: #f0c6c6;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-latte-pink: #ea76cb;
	--ctp-frappe-pink: #f4b8e4;
	--ctp-macchiato-pink: #f5bde6;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-latte-mauve: #8839ef;
	--ctp-frappe-mauve: #ca9ee6;
	--ctp-macchiato-mauve: #c6a0f6;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-latte-red: #d20f39;
	--ctp-frappe-red: #e78284;
	--ctp-macchiato-red: #ed8796;
	--ctp-mocha-red: #f38ba8;
	--ctp-latte-maroon: #e64553;
	--ctp-frappe-maroon: #ea999c;
	--ctp-macchiato-maroon: #ee99a0;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-latte-peach: #fe640b;
	--ctp-frappe-peach: #ef9f76;
	--ctp-macchiato-peach: #f5a97f;
	--ctp-mocha-peach: #fab387;
	--ctp-latte-yellow: #df8e1d;
	--ctp-frappe-yellow: #e5c890;
	--ctp-macchiato-yellow: #eed49f;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-latte-green: #40a02b;
	--ctp-frappe-green: #a6d189;
	--ctp-macchiato-green: #a6da95;
	--ctp-mocha-green: #a6e3a1;
	--ctp-latte-teal: #179299;
	--ctp-frappe-teal: #81c8be;
	--ctp-macchiato-teal: #8bd5ca;
	--ctp-mocha-teal: #94e2d5;
	--ctp-latte-sky: #04a5e5;
	--ctp-frappe-sky: #99d1db;
	--ctp-macchiato-sky: #91d7e3;
	--ctp-mocha-sky: #89dceb;
	--ctp-latte-sapphire: #209fb5;
	--ctp-frappe-sapphire: #85c1dc;
	--ctp-macchiato-sapphire: #7dc4e4;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-latte-blue: #1e66f5;
	--ctp-frappe-blue: #8caaee;
	--ctp-macchiato-blue: #8aadf4;
	--ctp-mocha-blue: #89b4fa;
	--ctp-latte-lavender: #7287fd;
	--ctp-frappe-lavender: #babbf1;
	--ctp-macchiato-lavender: #b7bdf8;
	--ctp-mocha-lavender: #b4befe;
	--ctp-latte-text: #4c4f69;
	--ctp-frappe-text: #c6d0f5;
	--ctp-macchiato-text: #cad3f5;
	--ctp-mocha-text: #cdd6f4;
	--ctp-latte-subtext1: #5c5f77;
	--ctp-frappe-subtext1: #b5bfe2;
	--ctp-macchiato-subtext1: #b8c0e0;
	--ctp-mocha-subtext1: #bac2de;
	--ctp-latte-subtext0: #6c6f85;
	--ctp-frappe-subtext0: #a5adce;
	--ctp-macchiato-subtext0: #a5adcb;
	--ctp-mocha-subtext0: #a6adc8;
	--ctp-latte-overlay2: #7c7f93;
	--ctp-frappe-overlay2: #949cbb;
	--ctp-macchiato-overlay2: #939ab7;
	--ctp-mocha-overlay2: #9399b2;
	--ctp-latte-overlay1: #8c8fa1;
	--ctp-frappe-overlay1: #838ba7;
	--ctp-macchiato-overlay1: #8087a2;
	--ctp-mocha-overlay1: #7f849c;
	--ctp-latte-overlay0: #9ca0b0;
	--ctp-frappe-overlay0: #737994;
	--ctp-macchiato-overlay0: #6e738d;
	--ctp-mocha-overlay0: #6c7086;
	--ctp-latte-surface2: #acb0be;
	--ctp-frappe-surface2: #626880;
	--ctp-macchiato-surface2: #5b6078;
	--ctp-mocha-surface2: #585b70;
	--ctp-latte-surface1: #bcc0cc;
	--ctp-frappe-surface1: #51576d;
	--ctp-macchiato-surface1: #494d64;
	--ctp-mocha-surface1: #45475a;
	--ctp-latte-surface0: #ccd0da;
	--ctp-frappe-surface0: #414559;
	--ctp-macchiato-surface0: #363a4f;
	--ctp-mocha-surface0: #313244;
	--ctp-latte-base: #eff1f5;
	--ctp-frappe-base: #303446;
	--ctp-macchiato-base: #24273a;
	--ctp-mocha-base: #1e1e2e;
	--ctp-latte-mantle: #e6e9ef;
	--ctp-frappe-mantle: #292c3c;
	--ctp-macchiato-mantle: #1e2030;
	--ctp-mocha-mantle: #181825;
	--ctp-latte-crust: #dce0e8;
	--ctp-frappe-crust: #232634;
	--ctp-macchiato-crust: #181926;
	--ctp-mocha-crust: #11111b;
    /* cattpuccin */
    --autumn-foreground: #FFF7C2;
    --autumn-background: #FFB27B;
    --autumn-purple: #BC7576;
    --autumn-blue: #696B7E;
    --autumn-pink: #EE8284;
}

/*-------------------------------------------------------*/
/*---------------------Color Palatte---------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*------------------------General------------------------*/
/*-------------------------------------------------------*/

body {
    margin: 0;
    background-color: var(--autumn-background);
    color: var(--autumn-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Dosis, sans-serif;
    font-size: 1.5em;
    overflow: hidden;
    /* fixes mobile viewport bug/feature */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.main {
    width: 80%;
    height: 80vh;
    position: relative;
    max-width: 850px;
    max-height: 650px;
}

.content-wrapper {
    background-color: var(--autumn-foreground);
    position: relative;
    border-radius: 2.5rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
    min-height: 300px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.animate-main {
    animation: transform-and-move-main 0.5s;
}

.heading-container h1 {
    font-size: 3rem;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-container i {
    font-size: 2rem;
}

.heading-container i:hover {
    cursor: pointer;
}

.content {
    flex: 1;
}

.content #bad {
    display: none;
}

.content a {
    text-decoration: none;
    color: var(--autumn-blue);
}

.navbar {
    padding: 0;
    margin: 0;
}

i {
    margin: 0 10px;
}

.menu-container li {
    display: flex;
    align-items: center;
    background: var(--autumn-purple);
    min-width: 100px;
    min-height: 50px;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    color: var(--autumn-foreground);
}

.menu-container li:hover {
    background-color: var(--autumn-foreground);
    color: var(--autumn-purple);
    border: 2px solid var(--autumn-purple);
}

.introduce {
    animation: introduce 0.5s;
}

.vanish {
    animation: vanish 0.5s forwards;
}

#open-menu {
    display: none;
}

/*-------------------------------------------------------*/
/*------------------------General------------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*-----------------------Keyframes-----------------------*/
/*-------------------------------------------------------*/

@Keyframes transform-and-move-main {
    0% {
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
    }
    /* lower means more left, higher is lower */
    95% {
        width: 70%;
        height: 70%;
        transform: translate(-14.3%, 57.2%);
    }
    100% {
        width: 70%;
        height: 70%;
        transform: translate(-14.3%, 57.2%);
    }
}

@Keyframes vanish {
    0% {
        opacity: 100;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@Keyframes transform-and-move-bottom {
    0% {
        transform: translate(0, 0);
    }
    /* ( higher means more right , the lower the number the higher the square ) */
    95% {
        transform: translate(71.4%, -71.2%);
    }
    100% {
        transform: translate(71.4%, -71.2%);
    }
}

@Keyframes transform-and-move-top {
    0% {
        transform: translate(0, 0);
    }
    80% {
        z-index: 11;
    }
    95% {
        /* ( smaller number means more left , the higher, the lower it goes ) */
        transform: translate(-9.9%, 10.0%);
        height: 100%;
        width: 100%;
        z-index: 11;
    }
    100% {
        transform: translate(-9.9%, 10.0%);
        height: 100%;
        width: 100%;
        z-index: 11;
    }
}

@Keyframes introduce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@Keyframes rotate {
    0% {}
    100% {
        transform: rotate(720deg);
    }
}

/*-------------------------------------------------------*/
/*-----------------------Keyframes-----------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*--------------------Shapes & Design--------------------*/
/*-------------------------------------------------------*/

.circle {
    width: 200px;
    height: 200px;
    background-color: var(--autumn-purple);
    border-radius: 100%;
}

.triangle {
    width: 200px;
    height: 175px;
    background: var(--autumn-blue);
    /* clip-path: polygon(0% 100%, 50% 0%, 100% 100%); */
    clip-path: polygon(50% 0%, 61.8% 38.2%, 100% 38.2%, 68.2% 61.8%, 81.8% 100%, 50% 77.3%, 18.2% 100%, 31.8% 61.8%, 0% 38.2%, 38.2% 38.2%);
}

.rotate {
    transform-origin: 50% 55%;
    animation: rotate 1s ease-in-out;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.sub-rectangle {
    position: absolute;
    background-color: var(--autumn-foreground);
    width: 70%;
    height: 70%;
    border-radius: 2.5rem;
    z-index: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.sub-rectangle.bottom-left {
    left: -10%;
    bottom: -10%;
}

.animate-bottom-square {
    animation: transform-and-move-bottom 0.5s;
}

.sub-rectangle.top-right {
    right: -10%;
    top: -10%;
}

.animate-top-square {
    animation: transform-and-move-top 0.5s;
}

/*-------------------------------------------------------*/
/*--------------------Shapes & Design--------------------*/
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*---------------------Media Querries--------------------*/
/*-------------------------------------------------------*/

@media only screen and (min-width: 35.0001em) {
    .menu-container ul {
        list-style: none;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 0;
    }
}

@media only screen and (max-width: 35em) {
    .sub-rectangle {
        display: none;
    }
    .content-wrapper {
        padding: 2.3rem;
    }
    .heading-container h1 {
        font-size: 2.2rem;
    }
    .content p {
        font-size: 1.3rem;
    }
    .content {
        min-height: 300px;
    }
    .display-on {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6.5%;
        padding-top: 5%;
        padding-bottom: 5%;
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0;
        background-color: var(--autumn-foreground);
        animation: introduce 0.5s;
    }
    .display-on li {
        margin: 10px;
    }
    .display-off {
        display: none;
        animation: vanish 0.5s;
    }
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }
    #open-menu {
        width: 100%;
        height: 50%;
        border-radius: 100px;
        background-color: var(--autumn-purple);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--autumn-foreground);
    }
    #open-menu:hover {
        cursor: pointer;
        background-color: var(--autumn-foreground);
        color: var(--autumn-purple);
        border: 2px solid var(--autumn-purple);
    }
}

@media only screen and (max-height: 22em) {
    .menu-container {
        display: none;
    }
    .content p {
        display: none;
    }
    .content #bad {
        display: block;
    }
    .sub-rectangle {
        display: none;
    }
}

/*-------------------------------------------------------*/
/*---------------------Media Querries--------------------*/
/*-------------------------------------------------------*/
