{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media_querries.css') }}">

{% block head_home %}{% endblock %}

{% endblock head %}

{% block home %}

{% block popup %}{% endblock %}

<div id="about" class="section flex-center">
    <div id="about-content">
        <h1>{{ about_heading }}</h1>
        <p>{{ about_p[0] }} <a href="https://fau.de" target="_blank">Friedrich-Alexander-University</a> {{ about_p[1] }} <a href="https://walaris.com" target="_blank">Walaris</a> {{ about_p[2] }}</p>
        <p>{{ about_p[3] }}</p>
    </div>
    <div id="about-menu">
        <ul>
            <li class="menu-list-item"><div id="about-menu-button" class="menu-div flex-center">{{ menu["about"] }}</div></li>
            <li class="menu-list-item"><div id="projects-menu-button" class="menu-div flex-center">{{ menu["projects"] }}</div></li>
            <li class="menu-list-item"><div id="skills-menu-button" class="menu-div flex-center">{{ menu["skills"] }}</div></li>
            <li class="menu-list-item"><div id="contact-menu-button" class="menu-div flex-center">{{ menu["contact"] }}</div></li>
        </ul>
    </div>
</div>
<a id="projects-top"></a>
<div id="projects" class="section flex-center">
    <h1 id="projects-heading">{{ headings["projects"] }}</h1>

    {% for project_list in project_lists %}
    <h2> {{ project_list['heading'] }} </h2>
    <div id="{{ project_list['id'] }}" class="project-containers flex-center">
        {% for project in project_list['projects'] %}
        <div id="{{ project['id'] }}" class="project flex-center">
            <img src="{{ url_for('static', filename=project['img_source']) }}" alt="{{ project['name'] }}_Image">
            <div class="used-skills">
                <ul class="flex-center">
                    {% for skill in project["skills"] %}
                    <li><img src="{{ url_for('static', filename=skill) }}" alt={{ skill }}></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="project-text flex-center">
                <h3>{{ project['name'] }}</h3>
                <p>{{ project['short_description'] }}</p>
            </div>
            <div class="project-link flex-center">
                {% if project['read_more'] %}
                <a href="">Read More</a>
                {% endif %}
                {% if project['gitlab'] %}
                <a href="{{ project['gitlab'] }}" target="_blank">GitLab</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>
<a id="skills-top"></a>
<div id="skills" class="section flex-center">
    <h1>{{ headings["skills"] }}</h1>
    <div id="badges" class="flex-center">
        <div id="good">
            <ul>
                <li><img src="{{ url_for('static', filename='icons/python.svg') }}" alt=""><p>Python</p></li>
                <li><img src="{{ url_for('static', filename='icons/docker.svg') }}" alt=""><p>Docker</p></li>
                <li><img src="{{ url_for('static', filename='icons/git.svg') }}" alt=""><p>Git</p></li>
                <li><img src="{{ url_for('static', filename='icons/gitlab.svg') }}" alt=""><p>GitLab</p></li>
                <li><img src="{{ url_for('static', filename='icons/linux.png') }}" alt=""><p>Linux</p></li>
                <li><img src="{{ url_for('static', filename='icons/bash.svg') }}" alt=""><p>BASH</p></li>
                <li><img src="{{ url_for('static', filename='icons/html.svg') }}" alt=""><p>Html</p></li>
                <li><img src="{{ url_for('static', filename='icons/css.svg') }}" alt=""><p>CSS</p></li>
                <li><img src="{{ url_for('static', filename='icons/javascript.svg') }}" alt=""><p>JavaScript</p></li>
                <li><img src="{{ url_for('static', filename='icons/nginx.svg') }}" alt=""><p>Nginx</p></li>
                <li><img src="{{ url_for('static', filename='icons/flask.svg') }}" alt=""><p>Flask</p></li>
                <li><img src="{{ url_for('static', filename='icons/mysql.svg') }}" alt=""><p>MySQL</p></li>
                <li><img src="{{ url_for('static', filename='icons/java.svg') }}" alt=""><p>Java</p></li>
                <li><img src="{{ url_for('static', filename='icons/c.svg') }}" alt=""><p>C</p></li>
                <li><img src="{{ url_for('static', filename='icons/vim.png') }}" alt=""><p>Vim</p></li>
                <li><img src="{{ url_for('static', filename='icons/vscode.svg') }}" alt=""><p>VSCode</p></li>
            </ul>
        </div>
    </div>
</div>
<a id="contact-top"></a>
<div id="contact" class="section flex-center">
    <h1 id="contact-heading">{{ headings["contact"] }}</h1>
    <p>{{ contact_form['one'] }}<a href="mailto:info@tomkeilers.com">info@tomkeilers.com</a>{{ contact_form['dot'] }}<br/></p>{{ contact_form['two'] }}
    <form action="/{{ language }}/contact#contact" method="POST" class="flex-center" id="contact-form">
        <label for="name">{{ contact_form['name'] }}</label>
        <input type="text" id="name" name="name">

        <label for="email">{{ contact_form['mail'] }}</label>
        <input type="text" id="email" name="email">

        <label for="message">{{ contact_form['message'] }}</label>
        <textarea type="text" id="message" name="message"></textarea>

        <input type="submit" name="submit" value="{{ contact_form['submit'] }}" id="submit-button">
    </form>
</div>

{% endblock home %}
