<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Tom Keilers">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/logo.png') }}">
        <title>Tom Keilers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <div id="header-wrapper" class="immutable-bar flex-center">
                <div id="top-menu-container" class="flex-center menu-bar">
                    <ul id="top-menu-list" class="flex-center">
                        <li class="menu-list-item"><a href="#">{{ menu["about"] }}</a></li>
                        <li class="menu-list-item"><a href="#projects">{{ menu["projects"] }}</a></li>
                        <li class="menu-list-item"><a href="#skills">{{ menu["skills"] }}</a></li>
                        <li class="menu-list-item"><a href="#contact">{{ menu["contact"] }}</a></li>
                    </ul>
                </div>
                <div id="top-icon-container" class="flex-center">
                    <a href="#"><img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo"></a>
                </div>
                <div id="top-socials-list" class="flex-center menu-bar">
                    <ul class="flex-center">
                        <li class="socials-list-item"><a href="https://www.linkedin.com/in/tom-keilers-9b7802151/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                        <li class="socials-list-item"><a href="https://gitlab.tomkeilers.com/ic34umer" target="_blank"><i class="bi bi-gitlab"></i></a></li>
                        <li class="socials-list-item"><a href="https://www.youtube.com/@TomKeilers/featured" target="_blank"><i class="bi bi-youtube"></i></a></li>
                        <li class="socials-list-item">
                            <i class="bi bi-translate" id="top-menu-language"></i>
                            <div id="top-language-container" class="show">
                                <ul>
                                    <li><a href="/en" class="flex-center"><img src="{{ url_for('static', filename='icons/gb.svg') }}" alt="EN"></a></li>
                                    <li><a href="/de" class="flex-center"><img src="{{ url_for('static', filename='icons/de.svg') }}" alt="DE"></a></li>
                                    <li><a href="/jp" class="flex-center"><img src="{{ url_for('static', filename='icons/jp.svg') }}" alt="JP"></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <nav class="top-nav">
                        <div id="menu-burger">
                            <div class="bar" id="bar_one"></div>
                            <div class="bar" id="bar_two"></div>
                            <div class="bar" id="bar_three"></div>
                        </div>
                    </nav>
                </div>
            </div>


            <ul id="nav-list" class="inactive">
                <li id="about-menu-button-two"><a href="#">{{ menu["about"] }}</a></li>
                <li id="projects-menu-button-two"><a href="#projects">{{ menu["projects"] }}</a></li>
                <li id="skills-menu-button-two"><a href="#skills">{{ menu["skills"] }}</a></li>
                <li id="contact-menu-button-two"><a href="#contact">{{ menu["contact"] }}</a></li>
                <li>
                    <div id="nav-socials">
                        <a href="https://www.linkedin.com/in/tom-keilers-9b7802151/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://gitlab.tomkeilers.com/ic34umer" target="_blank"><i class="bi bi-gitlab"></i></a>
                        <a href="https://www.youtube.com/@TomKeilers/featured" target="_blank"><i class="bi bi-youtube"></i></a>
                    </div>
                </li>
                <li id="language-list" class="flex-center">
                    <div id=language-container>
                        <ul id="menu-list-language-selector">



                            <!--  TODO Need to make this flexible  -->



                            <a href="/en" class="flex-center"><img src="{{ url_for('static', filename='icons/gb.svg') }}" alt="EN"></a>
                            <a href="/de" class="flex-center"><img src="{{ url_for('static', filename='icons/de.svg') }}" alt="DE"></a>
                            <a href="/jp" class="flex-center"><img src="{{ url_for('static', filename='icons/jp.svg') }}" alt="JP"></a>
                        </ul>
                    </div>
                </li>
            </ul>


            <div id="home">
            </div>
        </header>
        <main class="flex-center">
            <div id="content-wrapper" class="flex-center">
                {% block home %}{% endblock %}
            </div>
        </main>
        <footer>
            <div id="footer-wrapper" class="immutable-bar flex-center">
                <div id="love" class="flex-center">
                    <div id=p-container>
                        <p>{{ footer["love"] }}</p>
                        <p>{{ footer["gratitude"][0] }}<a href="https://github.com/catppuccin" target="_blank">Catppuccin</a>{{ footer["gratitude"][1] }}<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>{{ footer["gratitude"][2] }}</p>
                        <p>{{ footer["pthree"][0] }}<a target="_blank" href="https://icons8.com">Icons8</a>{{ footer["pthree"][1] }}</p>
                    </div>
                </div>
                <div id="bottom-menu-container" class="flex-center">
                    <ul class="flex-center">
                        <li class="bottom-menu-list-item"><a href="#">{{ menu["about"] }}</a></li>
                        <li class="bottom-menu-list-item"><a href="#projects">{{ menu["projects"] }}</a></li>
                        <li class="bottom-menu-list-item"><a href="#skills">{{ menu["skills"] }}</a></li>
                        <li class="bottom-menu-list-item"><a href="#contact">{{ menu["contact"] }}</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='animations.js') }}"></script>
    </body>
</html>
